@import '../variables';
@import '../mixins';

/**
 * Solid button
 */
@mixin button-solid ($color) {
	color: $grey-lightest;
	background-color: $color;
	border: 1px solid $color;

	&:hover {
		filter: brightness(1.1);
	}
}

/**
 * Inverted button
 */
@mixin button-outline ($color) {
	color: $color;
	border: 1px solid $color;
	background-color: transparent;

	&:hover {
		color: $grey-lightest;
		background-color: $color;
	}
}

/**
 * Flat button
 */
@mixin button-flat ($color) {
	color: $color;
	border: none;
	background-color: transparent;

	&:hover {
		filter: brightness(1.1);
	}
}

.k-button {
	@include clickable;

	position: relative;
	padding: 10px 20px;
	margin: 8px 0;
	transition: all .2s;
	font-family: inherit;
	outline: none;
	
	.content {
		z-index: 1;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	&:disabled {
		filter: grayscale(1);
		cursor: not-allowed;
	}

	/**
	* Solid
	*/
	
	&.solid {
		// Default style
		@include button-solid ($grey);
	
		@each $class, $color in $color-map {
			&.#{$class} {
				@include button-solid ($color);
			}
		}
	}

	/**
	* Outline
	*/

	&.outline {
		// Default style
		@include button-outline ($grey);

		@each $class, $color in $color-map {
			&.#{$class} {
				@include button-outline ($color);
			}
		}
	}

	/**
	* Flat
	*/

	&.flat {
		// Default style
		@include button-flat($grey);

		@each $class, $color in $color-map {
			&.#{$class} {
				@include button-flat ($color);
			}
		}
	}

	/**
	* Block
	*/

	&.block {
		display: block;
		width: 100%;
	}

	/**
	* Loading
	*/

	&.loading {
		pointer-events: none;
		
		.content {
			visibility: hidden;
		}
		.loader {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;
			background-color: inherit;
			z-index: 2;
		}
	}

}
