@import '../variables';

.k-radio {
	margin: 8px 0;
	
	label {
		display: inline-flex;
		align-items: center;
		cursor: pointer;

		.control {
			position: relative;
			flex-shrink: 0;
			width: 24px;
			height: 24px;
			margin-right: 8px;

			input[type="radio"] {
				position: absolute;
				opacity: 0;
			}

			svg {
				width: 100%;
				height: 100%;
				color: $grey-dark;
			}
		}

		span {
			user-select: none;
		}

	}
	
	.help {
		display: block;
	}

	/**
	* Color
	*/

	@each $class, $color in $color-map {
		&.#{$class} > label > .control > input[type="radio"]:checked + svg {
			color: $color;
		}
	}

	&.disabled {
		pointer-events: none;

		& > label > .control > input[type="radio"] + svg {
			color: $grey !important;
		}
	}
}
