@import '../variables';
@import '../mixins';

.k-select {

	.label {
		font-size: 20px;
	}

	.input {
		display: flex;
		align-items: center;
		line-height: 1.5;
		margin: 8px 0;
		width: 100%;
		transition: all .2s;

		.icon {
			flex: 0 0 auto;
			padding: 8px;
			color: $grey-darkest;
		}

		select {
			flex: 1 1 auto;
			outline: none;
			font-size: 20px;
			font-family: inherit;
			background-color: inherit;
			border: none;
			padding: 8px;
			// Needed to prevent overflow since input comes with fixed width and flex children have min-width: auto.
			min-width: 0;
			width: inherit;
		}

		.clear {
			@include clickable;
			flex: 0 0 auto;
			padding: 8px;
			color: $grey-darkest;
		}
	}

	.help {
		
	}

	&.disabled {
		.input {
			pointer-events: none;
		}
	}
}

@include light {
	.k-select {
		.input {
			background-color: $white;
			box-shadow: 0 2px 4px $grey;

			select {
				color: $grey-dark;

				&:focus {
					color: $primary;
				}
			}
		}

		&.disabled {
			.input {
				background-color: $grey-lightest;

				select {
					color: $grey;
				}
			}
		}
	}
}

@include dark {
	.k-select {
		.input {
			background-color: $grey;
			box-shadow: 0 2px 4px $black;

			select {
				color: $grey-darkest;

				&:focus {
					color: $primary;
				}
			}
		}

		&.disabled {
			.input {
				background-color: $grey-dark;

				select {
					color: $grey;
				}
			}
		}
	}
}
