@import '../_variables';

/**
 * Color banner
 */
@mixin banner ($color) {
	color: $grey-lightest;
	background-color: $color;
}

.k-banner {
	display: flex;
	justify-content: center;
	text-align: center;
	box-shadow: 0 2px 4px $grey;
	padding: 100px;

	// By default, gradient will be grey
	background-color: $grey;

	@each $class, $color in $color-map {
		&.#{$class} {
			@include banner ($color);
		}
	}
	
	&.image {
		background-size: cover;
		background-position: center;
	}
}
