@import '_variables';

.red-text {
	color: $red-dark !important;
}

.green-text {
	color: $green-dark !important;
}

.blue-text {
	color: $blue;
}

.yellow-text {
	color: $yellow-dark !important;
}

.purple-text {
	color: $purple !important;
}

.cyan-text {
	color: $cyan;
}
