@import '../../mixins';
@import 'variables';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins|Nunito:300,400,500,700');

.shops {
	/**
	 * Components
	 */
	
	@import 'components/alert';
	@import 'components/avatar';
	@import 'components/banner';
	@import 'components/button';
	@import 'components/card-content';
	@import 'components/card-footer';
	@import 'components/card-header';
	@import 'components/card';
	@import 'components/checkbox';
	@import 'components/input';
	@import 'components/label';
	@import 'components/list-item';
	@import 'components/list';
	@import 'components/skeleton-avatar';
	@import 'components/skeleton-heading';
	@import 'components/skeleton-image';
	@import 'components/skeleton-text';
	@import 'components/textarea';

	/**
	 * Helpers
	 */
	
	@import 'helpers';

	/**
	 * Common styles
	 */
	
	font-family: $font-body;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	

	@include light {
		color: $grey-dark;
		background-color: $grey-lightest;	

		h1, h2, h3, h4, h5, h6 {
			color: $grey-darkest;
		}

		code {
			background-color: $grey-light;
		}
	
		pre {
			background-color: $grey-darkest;
			color: $grey-lightest;
		}
	}

	@include dark {
		color: $grey-light;
		background-color: $grey-darkest;

		h1, h2, h3, h4, h5, h6 {
			color: $grey-lightest;
		}

		code {
			background-color: $grey-dark;
		}
	
		pre {
			background-color: $grey-lightest;
			color: $grey-darkest;
		}
	}

	hr {
		border: none;
		height: 1px;
		background-color: $grey;
	}
	
	a {
		text-decoration: none;
		color: $primary;
	}
	
	h1, h2, h3, h4, h5, h6 {
		line-height: 1.25;
		font-family: $font-title;
	}
	
	p {
		line-height: 1.5;
	}
	
	code {
		padding: 4px;
		font-weight: normal;
	}

	pre {
		padding: 10px;
	}

	table {
		width: 100%;
		border-collapse: collapse;

		thead th {
			border-bottom: 2px solid $grey;
		}
		tbody td {
			border-bottom: 1px solid $grey;
		}
		td, th {
			padding: 8px;
		}
	}
}
