@import '../variables';
@import '../mixins';

@mixin absolute-y-middle () {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin carousel ($color) {
	.dots, .prev, .next {
		color: $color;
	}
}

.k-carousel {
	position: relative;
	box-shadow: 0 2px 4px $grey;
	overflow: hidden;
	width: 100%;
	
	.image {
		background-repeat: no-repeat;
		background-position: center center;
		height: inherit;
	}

	.dots {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;

		.dot {
			@include clickable;
			margin: 8px;
		}
	}

	.prev {
		@include absolute-y-middle;
		@include clickable;
		left: 8px;
		z-index: 1;
	}

	.next {
		@include absolute-y-middle;
		@include clickable;
		right: 8px;
		z-index: 1;
	}

	/**
	* Color
	*/

	// Default style
	@include carousel ($grey);

	@each $class, $color in $color-map {
		&.#{$class} {
			@include carousel ($color);
		}
	}

}
