@import '../variables';
@import '../../mixins';

.k-card {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// box-sizing: border-box;
	// border: 1px solid hsl(206, 23, 73);
	border-radius: 0;
	margin: 8px 0;

	&.hoverable {
		transition: transform .2s;
		
		&:hover {
			transform: translateY(-5px);
		}
	}
}

@include light {
	.k-card {
		box-shadow: 0 2px 4px $grey;
		background-color: $white;
	}
}

@include dark {
	.k-card {
		box-shadow: 0 2px 4px $black;
		background-color: $grey-darkest;	
	}
}
