@import '_variables';
@import '_keyframes';

@mixin card-part {
	padding: 10px;
}

@mixin clickable {
	cursor: pointer;
}

@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin skeleton-element {
	// TODO
	// background-image: linear-gradient(to right, $grey-lightest, $grey-light, $grey-lightest);
	// background-repeat: no-repeat;
	// background-attachment: fixed;
	// background-size: 100%;
	// background-position: 200px 0;
	animation: skeleton-pulse .8s linear infinite alternate;
	background-color: $grey-light;
	margin: 8px 0;
}

@mixin special-link {
	text-decoration: none;
	color: inherit;
	border-bottom: 3px solid rgba($blue, .5);
	transition: border .2s;

	&:hover {
		border-bottom: 3px solid $blue;
	}
}
