@import 'variables';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');
@font-face {
	font-family: AkkuratPro;
	font-style: normal;
	font-weight: 400;
	src: url(fonts/akkurat-regular.woff2) format("woff2");
}
@font-face {
	font-family: AkkuratPro;
	font-style: italic;
	font-weight: 400;
	src: url(fonts/akkurat-italic.woff2) format("woff2");
}
@font-face {
	font-family: AkkuratPro;
	font-style: normal;
	font-weight: 700;
	src: url(fonts/akkurat-bold.woff2) format("woff2");
}
@font-face {
	font-family: AkkuratPro;
	font-style: italic;
	font-weight: 700;
	src: url(fonts/akkurat-bolditalic.woff2) format("woff2");
}
	
.grammarly {
	// margin: 0;
	color: $grey-dark;
	background-color: $white;
	font-family: $font-body;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/**
	 * Components
	 */
	
	@import 'components/alert';
	@import 'components/avatar';
	@import 'components/banner';
	@import 'components/button';
	@import 'components/card-content';
	@import 'components/card-footer';
	@import 'components/card-header';
	@import 'components/card';
	@import 'components/checkbox';
	@import 'components/input';
	@import 'components/label';
	@import 'components/list-item';
	@import 'components/list';
	@import 'components/skeleton-avatar';
	@import 'components/skeleton-heading';
	@import 'components/skeleton-image';
	@import 'components/skeleton-text';
	@import 'components/textarea';

	/**
	 * Helpers
	 */
	
	@import 'helpers';
	
	/**
	 * Common styles
	 */
	
	hr {
		border: none;
		height: 1px;
		background-color: $grey;
	}
	
	a {
		text-decoration: none;
		color: $blue;
	}
	
	h1, h2, h3, h4, h5, h6 {
		line-height: 1.25;
		color: $grey-darkest;
		font-family: $font-title;
	}
	
	p {
		font-size: 18px;
		line-height: 32px;
		letter-spacing: .1px;
	}
	
	code {
		background-color: $grey-light;
		padding: 4px;
		font-weight: normal;
	}

	pre {
		background-color: $grey-darkest;
		color: $grey-lightest;
		padding: 10px;
	}

	ul {
		list-style: disc;
		padding-left: 20px;

		li {
			margin-bottom: 7px;
		}
	}
}
