@import '../_variables';
@import '../_mixins';

.k-card-footer {
	@include card-part;
	@include ellipsis;

	flex-grow: 0;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	color: $grey-dark;
	background-color: $grey-lightest;
}
