@import '../_variables';

.k-input {
	margin: 8px 0;
	width: 100%;

	.label {
		color: $brown-light;
	}
	.input {
		display: flex;
		align-items: center;
		background-color: transparent;
		line-height: 2;
		transition: background-color .2s;
		
		.icon {
			flex: 0 0 auto;
			padding: 10px;
			color: $grey-darkest;
		}
		input {
			flex: 1 0 auto;
			outline: none;
			font-size: 12px;
			font-family: inherit;
			background-color: inherit;
			color: $grey-dark;
			border: none;
			border-bottom: 1px solid $grey;
			padding: 8px 0;
			transition: color .2s;

			&::placeholder {
				color: $grey;
			}
			&:focus {
				color: $primary;
				border-bottom: 1px solid $primary;
			}
		}
		.clear {
			cursor: pointer;
			padding: 10px;
			color: $grey-darkest;
		}
	}
	.help {
		color: $grey-light;
		font-size: 10px;
	}

	&.disabled {
		pointer-events: none;
		background-color: $grey-lightest;

		input {
			color: $grey-light;
		}
	}
}
