/**
* Define default (light) styles for a theme
*/
@mixin light {
	&:not(.dark) {
		@content;
	}
}

/**
* Defines dark styles for a theme
*/
@mixin dark {
	&.dark {
		@content;
	}
}

/**
* Helper classes, common to all themes
*/
@mixin helpers {
	.primary-text {
		color: $primary !important;
	}
	
	.secondary-text {
		color: $secondary !important;
	}
	
	.accent-text {
		color: $accent !important;
	}
	
	.success-text {
		color: $success !important;
	}
	
	.warning-text {
		color: $warning !important;
	}
	
	.error-text {
		color: $error !important;
	}	
}
