@import './variables.scss';
@import './keyframes.scss';

@mixin card-part {
	padding: 10px;
}

@mixin clickable {
	cursor: pointer;
}

@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin skeleton-element {
	// TODO
	// background-image: linear-gradient(to right, $grey-lightest, $grey-light, $grey-lightest);
	// background-repeat: no-repeat;
	// background-attachment: fixed;
	// background-size: 100%;
	// background-position: 200px 0;
	animation: skeleton-pulse .8s linear infinite alternate;
	background-color: $grey-light;
	margin: 8px 0;
}
