@import 'mixins';
@import 'variables';

& {
	font-family: $font-body;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	
	@include light {
		color: $grey-dark;
		background-color: $grey-lightest;	
	
		h1, h2, h3, h4, h5, h6 {
			color: $grey-darkest;
		}
	
		strong, b {
			color: $grey-darkest;
		}
	
		code {
			background-color: $grey-light;
		}
	
		pre {
			background-color: $grey-darkest;
			color: $grey-lightest;
		}
	
		table {
			thead th {
				background-color: $grey-light;
			}
	
			tbody tr:hover {
				color: $grey-darkest;
			}
		}
	}
	
	@include dark {
		color: $grey-light;
		background-color: $grey-darkest;
	
		h1, h2, h3, h4, h5, h6 {
			color: $grey-lightest;
		}
	
		strong, b {
			color: $grey-lightest;
		}
	
		code {
			background-color: $grey-dark;
		}
	
		pre {
			background-color: $grey-lightest;
			color: $grey-darkest;
		}
	
		table {
			thead th {
				background-color: $grey-dark;
			}
	
			tbody tr:hover {
				color: $grey-lightest;
			}
		}
	}
	
	* {
		box-sizing: border-box;
	}
	
	hr {
		border: none;
		height: 1px;
		background-color: $grey;
	}
	
	a {
		text-decoration: none;
		color: $primary;
	}
	
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		line-height: 2;
		font-family: $font-title;
		font-weight: 500;
	}
	
	strong, b {
		font-weight: 500;
	}
	
	p {
		margin: 0;
		font-size: 16px;
		line-height: 1.5;
	}
	
	code {
		padding: 4px;
		font-weight: normal;
	}
	
	pre {
		padding: 10px;
		overflow: auto;
	}
	
	table {
		width: 100%;
		border-collapse: collapse;
		white-space: nowrap;
	
		thead th {
			border-bottom: 1px solid $grey;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 14px;
		}
	
		tbody td {
			border-bottom: 1px solid $grey;
		}
	
		td, th {
			padding: 10px;
		}
	}
	
	ul {
		li {
			line-height: 1.5;
		}
	}
}
